.ant-layout-header {
  padding: 0 !important;
}
.site-layout-content {
  /* padding: 24px;*/
  min-height: 500px !important;
  background: rgb(238, 205, 225);
}
.site-layout .site-layout-background {
  background: #fff;
}
.small-logo {
  height: 30px;
  object-fit: cover;
}
